<fab-add ng-click-document="addDocument()" ng-click-group="addGroup()"></fab-add>

<md-toolbar class="start" ng-hide="showSearch">
    <div class="md-toolbar-tools">
        <h2>
            <span class="md-headline">{{'General.AppName' | translate}}</span>
        </h2>
        <span flex></span>
        <md-button disabled class="md-icon-button" title="Search" ng-click="startSearch()">
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
        <md-button class="md-icon-button" title="Logout" href="/.auth/logout" target="_self">
            <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        </md-button>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-toolbar class="start md-hue-1" ng-show="showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="endSearch()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <md-input-container flex md-theme>
            <label>&nbsp;</label>
            <input id="search" ng-model="searchQuery" placeholder="Search">
            <md-button class="md-icon-button" ng-click="searchQuery = ''" ng-show="searchQuery !== ''" style="position: absolute; right: -16px; top: 16px;">
                <md-icon md-font-set="material-icons" style="color: rgb(180, 193, 50);">close</md-icon>
            </md-button>
        </md-input-container>
    </div>
</md-toolbar>

<!-- TODO: move to directive? -->
<md-content flex layout md-scroll-y>
    <md-list flex id="items" layout-align="start start" style="align-content: flex-start;" layout-padding layout-wrap layout="row">
        <md-list-item ng-class="{'md-1-line': item.type === 'document', 'md-3-line': item.type === 'group'}" flex-xs="50" flex-sm="33" flex-md="25" flex-lg="20" flex-xl="15" ng-click="openItem(item)" ng-mouseenter="mouseEnter(item)" ng-mouseleave="mouseLeave()" ng-repeat="item in items">
            <md-icon ng-class="{'document': item.type === 'document', 'group': item.type === 'group'}" md-font-set="material-icons">{{(item.type === 'group') ? 'folder' : 'subject'}}</md-icon>
            <div class="md-list-item-text" layout="column">
                <span class="title">
                    {{item.name.length > 0 ? item.name : ('Group.Unnamed' | translate)}}
                </span>
                <!-- <h4 ng-if="item.type === 'group'">first highest prio item</h4> -->
                <!-- <p ng-if="item.type === 'group'">second highest prio item</p> -->
            </div>
        </md-list-item>
    </md-list>
</md-content>
