<md-button class="md-fab md-fab-bottom-right">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span class="md-headline">{{'General.AppName' | translate}}</span>
        </h2>
        <span flex></span>
        <switch-theme></switch-theme>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-content flex layout md-scroll-y>
    <md-list flex id="documents" layout-align="space-around center" layout-margin layout-wrap layout="row">
        <md-list-item class="md-2-line md-whiteframe-z2" flex-gt-lg="20" flex-lg="30" flex-md="45" flex-sm="80" ng-click="openDocument(document)" ng-repeat="document in documents">
            <div class="md-list-item-text">
                <h1 class="md-title" ng-show="document.name.length > 0">
                    {{document.name}}
                </h1>
                <div btf-markdown="document.text"></div>
                <div class="fade-out-bottom"></div>
                <div class="fade-out-right"></div>
            </div>
        </md-list-item>
    </md-list>
</md-content>
