md-list#documents {
    > md-list-item {
        > button {
            border-radius: 0;
            background: $brownAccent;

            > .md-ripple-container {
                border-radius: 0;
            }

            .md-list-item-text {
                overflow: hidden;

                > .title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                }
            }
        }
    }
}
