<md-button class="md-fab md-fab-bottom-right" ng-click="addDocument()">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<md-toolbar class="start" ng-hide="showSearch">
    <div class="md-toolbar-tools">
        <h2>
            <span class="md-headline">{{'General.AppName' | translate}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" title="Search" ng-click="startSearch()">
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
        <md-button class="md-icon-button" title="Logout" href="/.auth/logout" target="_self">
            <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        </md-button>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-toolbar class="start md-hue-1" ng-show="showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="endSearch()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <md-input-container flex md-theme>
            <label>&nbsp;</label>
            <input id="search" ng-model="searchQuery" placeholder="Search">
            <md-button class="md-icon-button" ng-click="searchQuery = ''" ng-show="searchQuery !== ''" style="position: absolute; right: -16px; top: 16px;">
                <md-icon md-font-set="material-icons" style="color: rgb(180, 193, 50);">close</md-icon>
            </md-button>
        </md-input-container>
    </div>
</md-toolbar>

<md-content flex layout md-scroll-y>
    <md-list flex id="documents" layout-align="start start" style="align-content: flex-start;" layout-padding layout-wrap layout="row">
        <md-list-item class="md-1-line md-whiteframe-z4" flex-xs="50" flex-sm="33" flex-md="25" flex-lg="20" flex-xl="15" ng-click="openDocument(document)" ng-mouseenter="mouseEnter(document)" ng-mouseleave="mouseLeave()" ng-repeat="document in documents | filter: searchFilter | orderBy: 'name'">
            <div class="md-list-item-text" layout="column">
                <span class="title">
                    {{document.name}}
                </span>
            </div>
        </md-list-item>

        <md-list-item class="md-1-line md-whiteframe-z4" flex-xs="50" flex-sm="33" flex-md="25" flex-lg="20" flex-xl="15" ng-click="openDocument(document)">
            <md-icon style="margin-right: 16px; margin-top: 12px; margin-left: 0;" md-font-set="material-icons">subject</md-icon>
            <div class="md-list-item-text" layout="column">
                <span class="title">
                    Sample Document
                </span>
            </div>
        </md-list-item>

        <md-list-item class="md-3-line md-whiteframe-z4" flex-xs="50" flex-sm="33" flex-md="25" flex-lg="20" flex-xl="15" ng-click="openDocument(document)">
            <md-icon style="margin-right: 16px; margin-top: 6px; align-self: center;" md-font-set="material-icons">folder</md-icon>
            <div class="md-list-item-text" layout="column">
                <span class="title">
                    Sample Group
                </span>
                <h4>First highest prio item</h4>
                <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">Second highest prio item</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
