<md-toolbar class="trash">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2 ng-if="ready" class="md-headline" flex>
            {{getItemName(group)}}
        </h2>
        <md-button class="md-icon-button" ng-click="" title="Restore">
            <md-icon md-font-set="material-icons">undo</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="deletePermanently()" title="Delete permanently">
            <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<items-view flex layout items="group.children" show-deleted="true" ready="ready" view="view" open-item="openItem(item)"></items-view>
