<md-toolbar class="trash">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2 class="md-headline" flex>
            Trash
        </h2>
        <md-button class="md-icon-button" ng-click="emptyTrash()" title="Empty Trash">
            <md-icon style="color: #940000" md-font-set="material-icons">delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<items-view flex layout items="deletedItems" show-deleted="true" ready="ready" view="view" open-item="openItem(item)"></items-view>
