<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2>
            <span class="md-headline">{{document.name}}</span>
        </h2>
        <span flex></span>
        <switch-theme></switch-theme>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-button class="md-fab md-fab-bottom-right" ng-click="edit()">
    <md-icon md-font-set="material-icons">edit</md-icon>
</md-button>

<md-content flex layout="column" md-scroll-y>
    <div btf-markdown="document.text" flex style="margin: 8px 16px; font-family: Arial;"></div>
</md-content>
