<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="back()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <!-- TODO: use directive (see edit) -->
        <h2>
            <span ng-show="document.name.length > 0" class="md-headline">{{document.name}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="delete()">
            <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>
        <switch-theme></switch-theme>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-button class="md-fab md-fab-bottom-right" ng-click="edit()">
    <md-icon md-font-set="material-icons">edit</md-icon>
</md-button>

<md-content flex layout="column" md-scroll-y>
    <pagedown-viewer content="document.text" flex style="margin: 8px 16px; font-size: 14pt;"></pagedown-viewer>
</md-content>
