<priority-menu ng-show="ready" set-priority="setPriority(priority)"></priority-menu>
<move-item-menu ng-show="ready" move-item="moveItem(groupId)" exclude-group-ids="[parentId]"></move-item-menu>
<md-button ng-show="ready" class="md-icon-button" ng-click="delete($event)">
    <md-icon md-font-set="material-icons">delete</md-icon>
</md-button>
<toggle-fullscreen></toggle-fullscreen>
<md-menu ng-show="ready">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
    </md-button>
    <md-menu-content width="2">
        <md-menu-item>
            <md-button>
                Delete
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="header">
            <md-button disabled>
                Set Priority
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button>
                Toggle Fullscreen
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="header">
            <md-button disabled>
                Move To Group
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
