h2 > input {
    border: 1px solid transparent;
    width: 100%;
    outline: none;
    background: transparent;
    padding: 6px 4px;
    color: rgba(255,255,255,1.0);

    &:hover {
        border-color: #474031;
    }

    &:focus {
        border-color: #b29b69;
    }
}

textarea {
    // border-radius: 0;
    // box-shadow: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    -ms-touch-action: auto;
    touch-action: auto;
    border: none;
    resize: none;
    @include border-box-sizing;
    margin: 0;
    font-size: 14pt;
    line-height: 1.3;
    font-family: Arial;
    padding: 30px 20px;
}
