<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button tabindex="1" class="md-accent md-icon-button" ng-click="done()">
            <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
        <h2 class="md-headline" flex>
            <input tabindex="2" ng-keydown="nameKeyDown($event)" set-focus="focusName" type="text" placeholder="Unnamed" ng-model="document.name" ng-change="update()">
        </h2>
        <toggle-fullscreen></toggle-fullscreen>
    </div>
</md-toolbar>

<md-content flex layout="column" md-scroll-y>
    <textarea zoomable tabindex="3" ng-keydown="textKeyDown($event)" ng-allow-tab set-focus="focusText" autocorrect="off" flex ng-change="update()" ng-model="document.text" spellcheck="true"></textarea>
</md-content>
