<md-menu>
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" title="Priority">
        <md-icon md-menu-origin md-font-set="material-icons">swap_vert</md-icon>
    </md-button>
    <md-menu-content width="2">
        <md-menu-item>
            <md-button ng-click="setPriority({priority: 'high'})">
                <md-icon class="fgPrioHigh" md-menu-align-target md-font-set="material-icons">stop</md-icon>
                High
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="setPriority({priority: 'medium'})">
                <md-icon class="fgPrioMedium" md-font-set="material-icons">stop</md-icon>
                Medium
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="setPriority({priority: 'low'})">
                <md-icon class="fgPrioLow" md-font-set="material-icons">stop</md-icon>
                Low
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="setPriority({priority: 'none'})">
                <md-icon style="color: transparent;" md-font-set="material-icons">stop</md-icon>
                None
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
