//application wide styles here
$brownAccent: #665430;
@mixin border-box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin no-user-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
@mixin no-touch-action {
    -ms-touch-action: none;
    touch-action: none;
}

h1,
h2 {
    font-weight: lighter;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
}

pagedown-viewer {
    line-height: 1.4;
    font-family: Arial;
}

.md-toolbar-tools {
    > h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > toggle-fullscreen:last-child > .md-button {
        margin-right: -8px;
    }
}

a,
a:visited {
    color: #95a216;
}
