//application wide styles here
@mixin border-box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin no-user-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}
h1 {
    font-size: 3em;
    font-weight: lighter;
}
h2 {
    font-size: 2em;
    font-weight: lighter;
}
h3 {
    font-size: 1.43em;
    font-weight: normal;
}
h4 {
    font-size: 1.14em;
    font-weight: normal;
}
h5 {
    font-size: 0.9em;
    font-weight: normal;
}
h6 {
    font-size: 0.75em;
    font-weight: normal;
}
pagedown-viewer {
    line-height: 1.4;
    font-family: Arial;
}
