//application wide styles here
$brownAccent: #665430;
$prioHigh: #a90000;
$prioMedium: #a96f00;
$prioLow: #4d7314;
@mixin border-box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin no-user-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
@mixin no-touch-action {
    -ms-touch-action: none;
    touch-action: none;
}

h1,
h2 {
    font-weight: lighter;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
}

pagedown-viewer {
    line-height: 1.4;
    font-family: Arial;
}

md-toolbar {
    &:not(.start) {
        background: $brownAccent;
        color: rgba(255,255,255,1.0);
        transition: background-color 0.3s ease-out;

        md-icon {
            color: rgba(255,255,255,1.0);
        }
    }

    &.trash {
        background: #b5b5b5;
        color: black;

        md-icon {
            color: black;
        }
    }

    &.prio-high {
        background: $prioHigh;
    }

    &.prio-medium {
        background: $prioMedium;
    }

    &.prio-low {
        background: $prioLow;
    }

    > .md-toolbar-tools {
        > h2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            > input {
                border: 1px solid transparent;
                width: 100%;
                outline: none;
                background: transparent;
                padding: 6px 4px;
                color: rgba(255,255,255,1.0);

                &:hover {
                    border-color: #474031;
                }

                &:focus {
                    border-color: #b29b69;
                }
            }
        }

        > toggle-fullscreen:last-child > .md-button {
            margin-right: -8px;
        }
    }
}

md-list#items {
    > md-list-item {
        background: transparent;

        > button {
            padding: 0 10px;
            border-radius: 0;
            background: $brownAccent;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.6), 0 8px 10px 1px rgba(0, 0, 0, 0.4), 0 3px 14px 2px rgba(0, 0, 0, 0.4);
            transition: background-color 0.3s ease-out;

            > .md-ripple-container {
                border-radius: 0;
            }

            md-icon {
                &.document {
                    margin-right: 10px;
                    margin-top: 12px;
                    margin-left: 0;
                }

                &.group {
                    margin-right: 10px;
                    margin-top: 6px;
                    align-self: center;
                }
            }

            .md-list-item-text {
                overflow: hidden;

                > .title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                }

                > h4:nth-of-type(2) {
                    color: rgba(255,255,255,0.7);
                }
            }
        }

        &.prio-high {
            > button {
                background: $prioHigh;

                .md-list-item-text {
                    > .title {
                        font-size: 1.6em;
                    }
                }
            }
        }

        &.prio-medium {
            > button {
                background: $prioMedium;

                .md-list-item-text {
                    > .title {
                        font-size: 1.4em;
                    }
                }
            }
        }

        &.prio-low {
            > button {
                background: $prioLow;
            }
        }
    }
}

a,
a:visited {
    color: #c88400;
}

md-menu-content {
    background: $brownAccent;
    color: rgba(255,255,255,1.0);

    md-menu-divider {
        background: rgba(255,255,255,0.2);
    }
}

.fgPrioHigh {
    color: $prioHigh;
}

.fgPrioMedium {
    color: $prioMedium;
}

.fgPrioLow {
    color: $prioLow;
}

md-toast.md-error-toast-theme {
    .md-toast-content {
        background-color: #b53216;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}
@media (min-width: 960px) {
    .itemOptionsMenu {
        display: none !important;
    }
}
@media (max-width: 959px) {
    .itemOptionsButton {
        display: none !important;
    }
}
