.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

md-dialog {
    color: rgba(255,255,255,1.0);
}

md-toolbar {
    box-shadow: #000 0 0 20px 4px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar):not(.start),
md-toolbar:not(.md-menu-toolbar):not(.start) {
    background-color: $brownAccent;
    color: rgba(255,255,255,1.0);
    box-shadow: #000 0 0 20px 4px;

    md-icon {
        color: rgba(255,255,255,1.0);
    }
}



//override layout-padding and layout-margin rules
//issue: https://github.com/angular/material/issues/4356
//currently, the layout-margin and layout-padding rules are not responsible, so override this
@media (max-width: $layout-breakpoint-sm - 1) {
    // SMALLER THAN SMALL SCREEN
    .layout-padding > *,
    [layout-padding] > * {
        padding: 4px !important;
    }

    .layout-margin > *,
    [layout-margin] > * {
        margin: 4px !important;
    }
}
@media (min-width: $layout-breakpoint-sm) {
    // BIGGER THAN SMALL SCREEN
    .layout-padding > *,
    [layout-padding] > * {
        padding: 8px !important;
    }

    .layout-margin > *,
    [layout-margin] > * {
        margin: 8px !important;
    }
}
