.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

md-dialog {
    color: rgba(255,255,255,1.0);
}

md-toolbar {
    box-shadow: #000 0 0 20px 4px;
}

md-menu-item.header {
    padding: 0;
    margin: 0;
    height: 24px;
    min-height: 24px;

    button[disabled] {
        padding: 0;
        margin: 2px 0;
        height: 100%;
        min-height: 100%;
        line-height: 11px;
        font-size: 11px;
        margin-left: 20px;
        padding-bottom: 2px;
        color: rgba(255,255,255,0.6) !important;
    }
}
//override layout-padding and layout-margin rules
//issue: https://github.com/angular/material/issues/4356
//currently, the layout-margin and layout-padding rules are not responsible, so override this
@media (max-width: $layout-breakpoint-sm - 1) {
    // SMALLER THAN SMALL SCREEN
    .layout-padding > *,
    [layout-padding] > * {
        padding: 4px !important;
    }

    .layout-margin > *,
    [layout-margin] > * {
        margin: 4px !important;
    }
}
@media (min-width: $layout-breakpoint-sm) {
    // BIGGER THAN SMALL SCREEN
    .layout-padding > *,
    [layout-padding] > * {
        padding: 8px !important;
    }

    .layout-margin > *,
    [layout-margin] > * {
        margin: 8px !important;
    }
}
