@media print {
    md-toolbar {
        background: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid rgba(0,0,0,0.2);

        h2 {
            color: rgba(0,0,0,0.75) !important;

            input {
                color: rgba(0,0,0,0.75) !important;
            }
        }

        button {
            display: none !important;
        }
    }

    button.md-fab {
        display: none !important;
    }

    md-content {
        background: none !important;
        color: rgba(0,0,0,0.75) !important;
        overflow: visible !important;
        font-size: 10pt !important;

        a {
            color: black !important;

            &[href]:after {
                content: ' (' attr(href) ')';
            }
        }
    }
}
